@model RandomStuff.Lib.Model.Healer

@{
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="EditHealer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                @Html.DisplayNameFor(m => m.FullName)
                @Html.EditorFor(m => m.FullName)
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(m => m.Speciality)
                @Html.DropDownListFor(m => m.SpecialityId, new SelectList(ViewBag.AllSpecialities, "Id", "name"))
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Healers">К списку врачей</a>
</div>
